.leftPart{
    height: 100%;
    width: 50%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgb(163, 49, 148);
    text-align: center;
}
.rightPart{
    height: 100%;
    width: 50%;
    position:fixed;
    top: 0;
  right: 0;
    background-color: rgb(78, 167, 100);
    text-align: center;
}
.left{
   left: 0;
   text-align: center;
}


.right{
    right: 0;
    text-align:center;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}